<!DOCTYPE html>
<html lang="es">
<body>
<article class="container mt-2 pt-2">

    <h1 class="mb-4">Mis mascotas</h1>
    <div class="row">
        <div th:each="mascota : ${listaMascotas}" class="col-md-4 mb-4"> <!-- Cambié a col-md-4 para mostrar 3 tarjetas por fila -->
            <div class="card h-100"> <!-- h-100 asegura que todas las tarjetas tengan la misma altura -->
                <div class="card-body">
                    <h5 class="card-title" th:text="${mascota.nombre}"></h5>
                    <p class="card-text">
                        <span th:if="${!mascota.receptor}"><strong>Mascota donante</strong></span>
                        <br>
                        <span th:if="${mascota.receptor}"><strong>Mascota receptora</strong></span>
                        <br>
                        <span th:text="${mascota.tipo}"></span>
                        <br>
                        <strong>Años:</strong> <span th:text="${mascota.anios}"></span>
                        <br>
                        <strong>Peso:</strong> <span th:text="${mascota.peso}"></span> kg
                        <br>
                        <br>
                        <span th:if="${mascota.enRevision}" class="text-bg-warning"><strong>En revisión</strong></span>
                        <span th:if="${mascota.aprobado}" class="text-bg-success"><strong>Aprobado</strong></span>
                        <span th:if="${mascota.rechazado}" class="text-bg-danger"><strong>Rechazado</strong></span>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>

</article>
</body>
</html>