<!DOCTYPE html>
<html lang="es" >
<body>
<div class="container mt-5 pt-5">
    <h2 class="text-center mb-4 text-primary">Busqueda Avanzada</h2>

    <form class="row g-4" action="/spring/busquedaFiltradaBancos" method="get">
        <div class="col-md-6">
            <label for="sangreBuscada" class="form-label">Sangre a buscar</label>
            <input type="text" class="form-control" id="sangreBuscada" name="sangreBuscada" placeholder="Sangre a buscar">
        </div>

        <div class="col-md-6">
            <label for="tipoDeProducto" class="form-label">Tipo de Producto</label>
            <input type="text" class="form-control" id="tipoDeProducto" name="tipoDeProducto" placeholder="Tipo de producto">
        </div>

        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>


<article th:if="${listaBancos}" class="container mt-4">
    <h1 class="mb-4">Lista de Bancos de Sangre</h1>
    <article th:each="banco : ${listaBancos}" class="card mb-3">
        <section class="card-body">
            <h5 class="card-title" th:text="${banco.getNombreBanco()}"></h5>
            <p class="card-text">
                <strong>Dirección: </strong><span th:text="${banco.getDireccion()}"></span>,
                <strong>Ciudad: </strong><span th:text="${banco.getCiudad()}"></span>,
                <strong>País: </strong><span th:text="${banco.getPais()}"></span>
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Tipo de Producto: </strong><span th:text="${banco.getTipoProducto()}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Tipo de Sangre: </strong><span th:text="${banco.getTipoSangre()}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Cantidad: </strong><span th:text="${banco.getCantidad()}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Teléfono: </strong><span th:text="${banco.getTelefono()}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Email: </strong><span th:text="${banco.getEmail()}"></span>
                </li>
            </ul>
            <div class="mt-3">


                <a th:href="@{/enviarMensajeABancoScoring(idBanco=${banco.getBancoId()})}"
                   class="btn btn-primary"
                   style="font-size: 0.9rem; text-decoration: underline;"
                >Enviar Mensaje</a>

                <a th:href="@{/crearSolicitud(
                                              bancoId=${banco.bancoId},
                                              tipoProducto=${banco.tipoProducto},
                                              tipoSangre=${banco.tipoSangre},
                                               cantidad=${banco.cantidad}
                               )}" class="btn btn-danger">Solicitar</a>
            </div>
        </section>
    </article>
</article>

</body>
</html>