<!DOCTYPE html>
<html lang="es">
<body>
<article class="container mt-2 pt-2">
    <!-- Contenedor principal con márgenes para el formulario -->
    <div class="container mt-5 pt-5">
        <!-- Título del buscador -->
        <h2 class="text-center mb-4">busqueda avanzada</h2>

        <!-- Formulario con método GET para buscar mascotas -->
        <form class="row g-3" action="/spring/busquedaFiltrada/Mascotas" method="get">
            <!-- Campo de búsqueda por nombre -->
            <div class="col-md-4">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la mascota">
            </div>

            <!-- Campo de búsqueda por tipo -->
            <div class="col-md-4">
                <label for="tipo" class="form-label">Tipo</label>
                <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Tipo de mascota">
            </div>

            <!-- Campo de búsqueda por tipo de sangre -->
            <div class="col-md-4">
                <label for="sangre" class="form-label">Sangre</label>
                <input type="text" class="form-control" id="sangre" name="sangre" placeholder="Tipo de sangre">
            </div>

            <!-- Botón para buscar -->
            <div class="col-12 text-center mt-4">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>

    <h2 class="text-center ">Lista de Mascotas</h2>
    <table class="table table-striped table-hover table-bordered" >
        <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Sangre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mascota : ${listaMascotas}">
            <td th:text="${mascota.nombre}"></td>
            <td th:text="${mascota.tipo}"></td>
            <td th:text="${mascota.sangre}"></td>
        </tr>
        </tbody>
    </table>
</article>
</body>
</html>