<!DOCTYPE html>
<html lang="es">
<body>

<article th:if="${publicaciones}" class="container mt-4">
    <h1 class="mb-4">Lista de Publicaciones</h1>
    <article th:each="publicacion : ${publicaciones}" class="card mb-3">
        <section class="card-body d-flex justify-content-between align-items-center">
            <h5 class="card-title" th:text="${publicacion.getTitulo()}"></h5>
            <a th:href="@{/{nombre}.{id}/(nombre=${publicacion.duenioPublicacion.nombre}, id=${publicacion.duenioPublicacion.id})}">
                <span class="text-muted"
                      th:text="${publicacion.duenioPublicacion.nombre + ' ' + publicacion.duenioPublicacion.apellido}"></span>
            </a>
        </section>
        <section class="card-body">
            <p class="card-text" th:text="${publicacion.getDescripcion()}"></p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Tipo de Publicación: </strong><span th:text="${publicacion.getTipoDePublicacion()}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Tipo de Sangre: </strong><span th:text="${publicacion.getTipoDeSangre()}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Estado: </strong><span
                        th:text="${publicacion.getEstaActiva()} ? 'Activa' : 'Inactiva'"></span>
                </li>
                <li class="list-group-item">
                    <strong>Movilidad: </strong><span
                        th:text="${publicacion.getPuedeMovilizarse()} ? 'Puede movilizarse' : 'No puede movilizarse'"></span>
                </li>
                <li class="list-group-item">
                    <strong>Zona de Residencia: </strong><span th:text="${publicacion.getZonaDeResidencia()}"></span>
                </li>
                <li class="list-group-item">
                    <strong>Mascota donante: </strong><span
                        th:text="${publicacion.getMascotaDonante().getNombre() + ' (' + publicacion.getMascotaDonante().getTipo() + ')'}"></span>
                </li>
            </ul>
            <form th:action="@{/realizar-solicitud}" method="post">
                <input type="hidden" name="mascotaDonante" th:value="${publicacion.getMascotaDonante().getId()}">
                <input type="hidden" name="publicacion" th:value="${publicacion.getId()}">
                <div class="mb-3">
                    <label for="mascota" class="form-label">Selecciona una Mascota</label>
                    <select id="mascota" name="mascotaReceptora" class="form-select">
                        <option value="" disabled>Elige una mascota</option>
                        <option th:each="mascota : ${mascotasNecesitadas}"
                                th:if="${mascota.tipo} != null and ${publicacion.mascotaDonante?.tipo} != null and ${mascota.tipo} == ${publicacion.mascotaDonante?.tipo}"
                                th:value="${mascota.id}" th:text="${mascota.nombre}"></option>
                    </select>
                </div>
                <input type="submit" value="Enviar solicitud">
            </form>
        </section>
    </article>
</article>
</body>
</html>