<!DOCTYPE html>
<html lang="es">
<body>
<article th:if="${listaVeterinario}" class="container mt-4">
    <h1 class="mb-4">Lista de Perfiles de VETERINARIOS</h1>
    <article th:each="usuario : ${listaVeterinario}" class="card mb-3">
        <section class="card-body">
            <a th:href="@{/perfil{id}(id=${usuario.id})}">
                <h5 class="text-muted" th:text="${usuario.nombre + ' ' + usuario.apellido}"></h5>
            </a>
            <p class="card-text">
                <strong>Email: </strong><span th:text="${usuario.email}"></span>
            </p>
        </section>
    </article>
</article>

</body>
</html>