<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Dinámico</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<header th:replace="fragments/header :: header"></header>
<div th:fragment="formulario">
    <div class="card">
        <div class="card-header text-center">
            <h1 class="text-black">Agregar mascota receptora</h1>
        </div>
        <div class="card-body">
            <!-- Formulario -->
            <form id="formMascotaReceptora" action="#" th:action="@{/definir-tipo-receptor}" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre de la mascota" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="anios" class="form-label">Años:</label>
                    <input type="number" id="anios" name="anios" placeholder="Edad en años" class="form-control" min="0" required>
                </div>

                <div class="mb-3">
                    <label for="peso" class="form-label">Peso:</label>
                    <input type="number" step="0.1" id="peso" name="peso" placeholder="Peso en kg" class="form-control" min="0" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Seleccionar especie:</label><br>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="felino" name="tipo" value="Felino" class="form-check-input" required>
                        <label for="felino" class="form-check-label">Felino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="canino" name="tipo" value="Canino" class="form-check-input" required>
                        <label for="canino" class="form-check-label">Canino</label>
                    </div>
                </div>

            <div class="text-center">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
