<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ver Peticiones</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:insert="~{fragments/headerbanco :: headerBanco}"></div>
<div th:replace="fragments/navbanco :: sidebar"></div>

<main role="main" class="container mt-4">
    <div class="row">

        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Ver Peticiones de Sangre</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nombre del Solicitante</th>
                    <th scope="col">Tipo de Sangre Solicitada</th>
                    <th scope="col">Tipo de Producto</th>
                    <th scope="col">Cantidad Solicitada</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(solicitudes)}">
                    <td colspan="6">No hay solicitudes.</td>
                </tr>
                <tr th:each="solicitud : ${solicitudes}">
                    <td th:text="${nombresUsuarios[solicitud.id]}">Nombre del Solicitante</td>
                    <td th:text="${solicitud.tipoSangre}">Tipo de Sangre</td>
                    <td th:text="${solicitud.tipoProducto}">Tipo de Producto</td>
                    <td th:text="${solicitud.cantidad}">Cantidad</td>
                    <td th:text="${solicitud.estado}">Estado</td>
                    <td>
                        <a class="btn btn-primary"
                           th:href="@{/revisarSolicitud(solicitudId=${solicitud.id})}">
                            Revisar
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>