<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Busqueda</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<section th:if="${publicaciones}">

    <article th:replace="fragments/busquedaPublicaciones"></article>
    <article th:replace="fragments/listarPublicaciones"></article>

</section>

<section th:if="${listaBancos}">

    <article th:replace="fragments/listaBancos"></article>

</section>

<section th:if="${listaUsuarios}">

    <article th:replace="fragments/listadeusuarios"></article>

</section>

<section th:if="${listaVeterinario}">

    <article th:replace="fragments/listaveterinarios"></article>

</section>

</body>
</html>