<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CrearCampaña</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div th:insert="~{fragments/headerbanco :: headerBanco}"></div>
<div th:replace="fragments/navbanco :: sidebar"></div>
<main>
<div class="container mt-5">
    <h2>Crear Campaña de Donación</h2>
    <form th:action="@{/campanas/crear}" method="post" th:object="${campana}">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Campaña</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" required/>
        </div>
        <div class="mb-3">
            <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" th:field="*{fechaInicio}" required/>
        </div>
        <div class="mb-3">
            <label for="fechaFin" class="form-label">Fecha de Fin</label>
            <input type="date" class="form-control" id="fechaFin" th:field="*{fechaFin}" required/>
        </div>
        <div class="mb-3">
            <label for="ubicacion" class="form-label">Ubicación</label>
            <input type="text" class="form-control" id="ubicacion" th:field="*{ubicacion}" required/>
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Crear Campaña</button>
    </form>
</div>


</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>